section {
    padding: 2rem 0;
  }   
  
  .Add-File-Btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f2;
    color: #282c34;
    font-weight: 500;
    border: none;
    width: 9rem;
    height: 3.5rem;
    cursor: pointer;
    font-size: large;
  }
  .Add-File-Btn span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
  }
  
  input {
    display: none;
  }
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -43px;
  }
  
  .image {
    margin: 1rem 0.5rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  
  .image button {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border: none;
    color: white;
    background-color: lightcoral;
  }
  
  .image button:hover {
    background-color: red;
  }
    
  .upload-btn {
    cursor: pointer;
    display: block;
    float: right;
    border: none;
    margin-top: -18px;
    width: 6rem;
    height: 2rem;
    color: white;
    background-color: #ff5757;
  }
  
  label:hover,
  .upload-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .error {
    text-align: center;
  }
  
  .error span {
    color: red;
  }
  